# Ignore binary files
*.bin
*.pem

# Ignore environment files
.env
test_result.txt
*.log

# Ignore decrypted and testing files
decrypted_dataset.csv
encrypted_aes_keys.json

# Ignore compiled Python files
__pycache__/
